/*variables*/
:root{
  --primaryColor:#000;
  --secondColor:#ff0018;
  --widthSidebar:250px;
}
/*tipo de fuente*/
*{font-family: 'Open Sans', sans-serif;}

/*START CLASES DEFINIDAS*/
.body-color{background: #eee;}

.l-spacing {letter-spacing: 2px;}

.opacity{opacity: .5;}

.mt-100{margin-top: 100px;}

.fa-bars{font-size: 1.5em;}

.box-shadow{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
   0 2px 10px 0 rgba(0,0,0,.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
   0 2px 10px 0 rgba(0,0,0,.12);
}

.fixed{
  position: fixed;
  left: 0;
  top: 50px;
  width: ;
  height: 100%;
  min-height: 100vh;
}

.img-circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.active{
  color:#fff !important;
  background: var(--secondColor);
}

.min-height{min-height: 100vh;}

.btn-editar,.btn-eliminar{
  display: block;
  border: 1px solid var(--primaryColor);
  border-radius: 3px;
  padding: 5px;
  color:  var(--primaryColor);
  text-align: center;
  -webkit-transition: .5s all ease-in;
  transition: .5s all ease-in;
  text-decoration: none !important;
}

.btn-eliminar{
  border: 1px solid var(--secondColor);
  color: var(--secondColor) !important;
}

.btn-eliminar:hover{
  background: var(--secondColor);
  color: #fff !important;
}

.btn-editar:hover{
  background: var(--primaryColor);
  color: #fff !important;
}
/*END CLASES DEFINIDAS--------------------*/


/*START LOGIN--------------------*/
/*caja del login*/
.login{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  position: relative;
  padding: 20px;
}

/*contenedor imagen de google*/
.login > .img{
  text-align: center;
  width: 100%;
}

/*imagen de google*/
.login > .img > img{
  width:100px;
  height: 100px;
  margin-top:-70px;
  border-radius: 50%;
  -webkit-filter:grayscale(.9);
          filter:grayscale(.9);
}
/*titulos del login*/
.login > h4{margin:20px auto;}
/*END LOGIN--------------------*/


/*STAR ESTILOS DE MENU SUPERIOR--------------------*/
/*contenedor menu*/
.nav-main{
  width: 100%;
  background: var(--primaryColor);
  color:#fff;
  height: 50px;
}

/*titulo*/
.nav-title{
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
}

/*estilos del buscador*/
.nav-main  input[type="search"]{
  border: none;
  background: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  outline: none;
  color:#fff;
}

/*color del placeholder del buscador*/
.nav-main  input[type="search"]::-webkit-input-placeholder { color: hsla(0, 0%, 100%, 0.4); }
.nav-main  input[type="search"]:-ms-input-placeholder { color: hsla(0, 0%, 100%, 0.4); }
.nav-main  input[type="search"]::placeholder { color: hsla(0, 0%, 100%, 0.4); }

.txtNombreUsuario{font-size: 14px;}
/*END ESTILOS DE MENU SUPERIOR--------------------*/

/*START POST--------------------*/
/*contenedor post*/
.post{background: #fff;}

.post-dash{
  background: #fff;
  width: 30%;
}

/*imagen del post*/
.img-post{
  width: 100%;
  overflow:hidden;
  text-align: center;
  vertical-align: top;
  height: var(--widthSidebar);
}
.img-post > img{
  width: 100%;
  height: 100%;
}
/*titulo del post*/
.post > .title > h4{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.2em;
}


/*descripcion del post*/
.post > .descripcion{
  margin: 20px 0;
  height: 100px;
  overflow: hidden;
}
.post > .descripcion > p{
  font-size: .8em;
  line-height: 1.6em;
}

/*boton del post*/
.ver_mas {
  position: relative;
  height: 20px;
}
.ver_mas > a{
  color: #fff;
  display: inline-block;
  padding: .2em .5em;
  text-decoration: none !important;
  -webkit-transition: .5s all;
  transition: .5s all;
  border-radius: 5px;
  font-size: .8em;
  background:var(--secondColor);
  position: absolute;
  right: 10px;
}

.ver_mas > a:hover{opacity: .9;}
/*END POST--------------------*/

/*START DEL SIDENAV--------------------*/
/*estilos del sidenav*/
.sidenav{
  background:hsl(0, 0%, 100%);
  width: var(--widthSidebar);
}

/*correo*/
.email{
  width: var(--widthSidebar);
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #eee;
  font-weight: 700;
  font-size: 14px;
}

/*contenedor de menu del nav*/
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*links del nav*/
.nav > a{
  display: block;
  width: var(--widthSidebar);
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #2f2f2f;
  -webkit-transition:all .5s ease;
  transition:all .5s ease;
}

.nav > a:hover{
  color:#fff !important;
  background: var(--primaryColor);
}

.nav a >i{margin-right: 10px;}
/*END DEL SIDENAV--------------------*/

/*STAR ESTILOS DEL PANEL DE ADMINISTAR LOS POST--------------------*/
/*cabecera de administrar post*/
.card-header{
  color:var(--primaryColor);
  background: #fff ;
}

/*estilos del boton de subir archivos*/
.upload input[type="file"]::-webkit-file-upload-button {
  background: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: .1em;
}

/*boton del post*/
.btn-post{
  background: var(--secondColor);
  color: #fff;
  border-color: var(--secondColor);
}

.regresar{
  color:#fff;
  text-decoration: none;
  font-size: 1.3em;
  transition: .3s all ease;
}

.regresar:hover{
  color:var(--secondColor);
}
/*END ESTILOS DEL PANEL DE ADMINISTAR LOS POST--------------------*/

/*STAR ESTILOS VERPOST--------------------*/
.ver-post{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.ver-post_img > img, .ver-post_img{
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.ver-post_titulo{
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 0;
}

.ver-post_contenido > p{
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}

.ver-post_img{margin-top: -110px;}


.download> p{
  margin: 0;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
}

.download > a{
  text-decoration: none;
  color:var(--secondColor);
}
/*END ESTILOS VERPOST--------------------*/

/*MODFICAR EL COLOR DE LA PAGINACION--------------------*/
.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: var(--secondColor);
    border-color: var(--secondColor);
}

/*MODIFICAR LA CABECERA DE LA MODAL--------------------*/
.modal-header-modifier{
  background:var(--secondColor);
  color:#fff;
}

/*VARIACIONES APARTIR DE UNA PANTALLA DE TABLET--------------------*/
@media screen and (max-width:1500px){
  .post-dash{
    width: 45%;
  }
}

@media screen and (max-width:1000px){
  .post-dash{width: 100%;}

  .ver-post{width: 100%;}
}
@media screen and (max-width:767px){
  .movil-first{
    position: fixed;
    top: 50px;
    width: var(--widthSidebar);
    min-height: 100vh;
    z-index: 1000;
    width: 100%;
    background:rgba(177, 177, 177, 0.5);
    left: -100%;
    overflow-y: auto;
  }

  .fixed{
    background: #fff;
    left: -100%;
    overflow-y: auto;
  }

  .nav-main{height: 50px;}

  .nav >a:last-child{margin-bottom: 100px;}
}

@media screen and (max-width:400px){
  .ver-post_img > img, .ver-post_img{
    width: 100%;
    height: 250px;
  }
}
